*{
    box-sizing: border-box;

}
body{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1c40f86;
}
h1{
    color: #A52A2A;
    text-transform: uppercase;
    margin: 0;
}
p{
    text-align: center;
    color: #A52A2A;
    font-weight: 600;
    margin: 0;
}
button{
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    background-color: coral;
    border: hidden;
    border-radius: 3px;
    border: 1px transparent black;
    outline: none;
}
button:hover{
    /* border: 1px solid black; */
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.60)
}

.container{
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    height:720px ;
    width: 720px;
    flex-wrap: wrap;
    border-radius: 5px;
    border:10px solid brown;
    box-shadow: 0 6px 15px 1px rgba(0, 0, 0, 0.40), 0 6px 20px 1px rgba(0, 0, 0, 0.40);
}
.squares{
    background-color: rgb(237, 231, 241);
    border: 1px solid rgba(72, 72, 241, 0.164);
}
.painted{
    background-color: rgba(0, 0, 0, 0.70);
}

.painted50{
    background-color: rgba(0, 0, 0, 0.85);
}
.painted75{
    background-color: rgba(0, 0, 0, 0.90);
}
.painted100{
    background-color: rgba(0, 0, 0, 1);
}


